@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
	font-size: {{MsgFontSize}}vh;
}

p {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.msgDiv {
	display: inline-block;
	position: absolute;
 	white-space: nowrap;
    opacity: {{MsgOpactiy}};
}

.username {
	display: inline-block;
    font-family: {{UsernameFont}};
}

.msgBody {
	color: {{BodyColor}};
	display: inline-block;
    font-family: {{BodyFont}};
}

.badge {
	display: inline-block;
	margin-right: 0.1em;
	vertical-align: middle;
	height: 1em;
}

.emote {
	display: inline-block;
	vertical-align: middle;
	height: 1em;
}

.main-container {
	display: inline-block;
	font-weight: 600;
}

@keyframes appear-ease {
    from { left: 100vw; }
    to { left: 80vw; }
}

@keyframes right-to-left {
    from { left: 80vw; }
    to {left: -300vw; }
}